@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B2E4A;
  display: block;
  width: 100%;
  height: 100vh;
}

header a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 80px;
  text-align: center;
  font-family: 'Dongle';
  font-weight: 400;
  font-size: 25px;
  /*box-shadow: -1px 8px 8px black;*/
  background-color: #E84545;
}

header .logo {
  width: 20%;
  height: 100%;
  float: left;
  align-items: center;
  text-align: center;
  font-size: 40px;
  transition: background-color 1s, border-top-right-radius 1s, color 1s;
}

header .logo:hover {
  background-color: #53354A;
  border-top-right-radius: 60px 60px;
  color: white;
}

header p {
  margin-top: 8%;
}

header .RightPanel {
  float: right;
  width: 45%;
  height: 100%;
}

header .RightPanel .button {
  width: 33.2%;
  height: 100%;
  float: right;
  transition: background-color 1s, border-radius 1s, color 1s;
}

header .RightPanel .button:hover {
  background-color: #53354A;
  border-top-left-radius: 60px 60px;
  color: white;
}

main {
  width: 100%;
  text-align: center;
}

main #window {
  display: block;
  max-width: 500px;
  max-height: 600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  text-align: center;
  align-items: center;
  font-family: 'Dongle';
  font-weight: 400;
  font-size: 40px;
  border-radius: 10px 10px;
  background-color: #903749;
}

main .foto {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 2px black;
  box-shadow: 1px 3px 8px black;
}

main .profileIMG {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -25%;
  margin-left: 0%;
  border: solid 2px black;
  box-shadow: 1px 3px 8px black;
  transition: width 1s, height 1s;
}

main .text {
  margin-top: -3%;
}

main .smalltext {
  margin-top: -4%;
  font-size: 20px;
  color: #c4c2c2;
}

main .wheel {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  box-shadow: 1px 1px 8px black;
}

main .skillpanelhtml {
  width: 70px;
  height: 100px;
  float: left;
  padding: 1%;
  margin-left: 7%;
}

main .skillpanelcss {
  width: 70px;
  height: 100px;
  float: left;
  padding: 1%;
  margin-left: 7%;
}

main .skillpanelJS {
  width: 70px;
  height: 100px;
  float: left;
  padding: 1%;
  margin-left: 7%;
}

main .skillpanelBoot {
  width: 70px;
  height: 100px;
  float: left;
  padding: 1%;
  margin-left: 7%;
}

main .skillActiv {
  width: 10px;
  height: 10px;
  background-color: green;
  float: left;
  margin-left: 2px;
  margin-top: -10%;
  border: solid 1px black;
}

main .skillNoActiv {
  width: 10px;
  height: 10px;
  background-color: #fafafa;
  float: left;
  margin-left: 2px;
  margin-top: -10%;
  border: solid 1px black;
}

.lineBottom {
  border-bottom: solid 1px #35323D;
}

#aboutme {
  width: 400px;
  height: 600px;
  background-color: #E84545;
  border-radius: 10px 10px;
  box-shadow: 10px 5px 8px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 30px;
}

#projects {
  width: 400px;
  height: 600px;
  background-color: #E84545;
  border-radius: 10px 10px;
  box-shadow: 10px 5px 8px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 30px;
}

#projects a {
  text-decoration: none;
  color: #c4c2c2;
  transition: color 1s, font-size 1s;
}

#projects a:hover {
  color: black;
  font-size: 36px;
}

#projects .ProjectWheel {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  margin-left: 36%;
  margin-top: 5%;
  transition: width 1s, height 1s, border-radius 1s, margin-left 1s;
}

#projects .ProjectWheel:hover {
  width: 242px;
  height: 242px;
  border-radius: 10px 10px;
  margin-left: 20%;
}

#projects .panelSocial {
  width: 100%;
  align-items: center;
}

#projects .panelSocial .socialMargin {
  margin-left: 15%;
}

@media (min-width: 300px) and (max-width: 500px) {
  header .logo {
    font-size: 25px;
    width: 35%;
  }
  header .RightPanel {
    width: 65%;
  }
  header .marginButton {
    margin-right: 5%;
  }
  main #window {
    width: 90%;
    min-height: 80vh;
  }
  main .smalltext {
    font-size: 15px;
  }
  main .wheel {
    width: 90%;
    height: 60px;
  }
  main .skillpanelhtml {
    width: 15%;
    margin-left: 7%;
  }
  main .skillpanelcss {
    width: 15%;
    margin-left: 7%;
  }
  main .skillpanelJS {
    width: 15%;
    margin-left: 7%;
  }
  main .skillpanelBoot {
    width: 15%;
    margin-left: 7%;
  }
  main .skillActiv {
    width: 10%;
    height: 7px;
    margin-left: 2px;
  }
  main .skillNoActiv {
    width: 10%;
    height: 7px;
    margin-left: 2px;
  }
  #aboutme {
    width: 90%;
    min-height: 70vh;
  }
  #projects {
    width: 90%;
    min-height: 70vh;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  header .logo {
    font-size: 40px;
    width: 35%;
  }
  header .RightPanel {
    width: 65%;
  }
  header .marginButton {
    margin-right: 5%;
  }
}
